<img src="{{ album.album_logo }}" width="512">

<h1>{{ album.album_title }}</h1>

<h3>{{ album.artist}}</h3>


{% if error_message %}
<p><strong>{{ error_message }}</strong></p>
{% endif %}

<form action="{% url 'music:favorite' album.id %}" method="post">
    {% csrf_token %} 
    {% for song in album.song_set.all %}
    <input name="song" type="radio" id="song{{forloop.counter}}" value="{{song.id}}">
    <label for="song{{forloop.counter}}">
            {{ song.song_title}}
     </label>
        {% if song.is_favorite %}
            <img  width="16" src="http://cdn.mysitemyway.com/etc-mysitemyway/icons/legacy-previews/icons-256/firey-orange-jelly-icons-natural-wonders/050935-firey-orange-jelly-icon-natural-wonders-star16-solid.png" >
        {% endif %}
    <br/>
    {% endfor %}
    <input type="submit" value="Favorite">
</form>